.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 242px;
}

.header_container {
  height: 100px;
  flex-wrap: wrap;
  align-items: center;
}

.container_big_card_achiv {
  position: relative;
  max-width: 1140px;
  padding: 50px;
  padding-top: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #eee;
}

.achiv_top {
  flex-direction: column;
  display: flex;
}

.achiv_top_main_info {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
}

.achiv_top_main_info_text {
  width: 800px;
  min-height: 300px;
  margin-bottom: 20px;
}

.image_achiv {
  width: 300px;
  height: 300px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
  object-fit: cover;
}

.achiv_title {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
}

.achiv_descr_title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 28px;
}

.achiv_descr_text {
  min-height: 90px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
}

.likes {
  height: 49px;
  display: flex;
}

.btn_like {
  padding: 11px 30px;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.edit {
  margin-right: 10px;
  padding: 11px 30px;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.edit:hover, .btn_like:hover {
  color: #fff;
  background-color: #0661A9;
}

.edit:active, .btn_like:active {
  color: #fff;
  background-color: #11293D;
}

.achiv_top_add_info_list {
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.achiv_top_add_info_list .achiv_descr_text {
  margin: 0;
}

.achiv_top_add_info_item:not(:last-child) {
  margin-bottom: 40px;
}

.achieve_link {
  width: 800px;
}

.big_card_image_people {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 50%;
  margin-bottom: 40px;
  object-fit: cover;
}

.big_card_image_people:hover {
  outline: 3px solid #2196f3;
}

.achiv_comment {
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.achiv_comment_title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
  color: #000;
}

.achiv_comment_list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.achiv_comment_item {
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 130px;
  padding: 20px 30px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 20px;
  background: #eee;
  display: flex;
}

.achiv_comment_item:not(:last-child) {
  margin-bottom: 30px;
}

.achiv_comment_item_text {
  max-width: 910px;
}

.achiv_comment_add {
  align-items: flex-end;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  display: flex;
}

.achiv_comment_add_text {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  resize: vertical;
  width: 810px;
  min-height: 90px;
  margin-right: 30px;
  padding: 20px 30px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  background: #EEEEEE;
}

.achiv_comment_add_btn {
  padding: 13px 37px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  background: #2196f3;
}

.link_exit {
  padding-left: 20px;
  position: absolute;
  top: 32px;
  left: 50px;
  font-weight: 700;
  font-size: 24px;
  color: #2196f3;
  background-image: url("./../../img/exit.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.link_exit:hover {
  background-image: url("./../../img/push-exit.svg");
  color: #0661A9;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 350px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.link_to_step_achieve {
  background-color: #fff;
  padding: 22px 28px;
  width: 350px;
  border-radius: 24px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #2196f3;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  transition: none;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.link_to_step_achieve:hover {
  color: #2196f3;
}

.link_to_step_achieve:active {
  color: #2196f3;
}

.link_to_step_achieve:focus {
  background-image: url("../../img/arrow_up.svg");
}

.link_to_step_achieve:focus~.step_to_achieve {
  display: block;
}

.step_to_achieve {
  width: 350px;
  list-style: none;
  padding: 22px 28px;
  display: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.step {
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #2196f3;
}

.step_loading {
  width: 350px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #2196f3;
}

.step:not(:last-child) {
  margin-bottom: 30px;
}

.achiv_comment_item_image {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50%;
}

.achiv_comment_item_image:hover {
  outline: 3px solid #2196f3;
}