.achievments-header {
    align-items: center;
    height: auto;
    margin: 30px 0;
}

.achievments-header-container {
    width: 1240px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.add {
    font-size: 20px;
    display: flex;
    margin: 10px;
    padding: 13px 36px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2196f3;
    border: none;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .add:hover {
    background-color: #0661A9;
    color: #FFFFFF;
  }
  
  .add:active {
    background-color: #11293D;
    color: #FFFFFF;
  }