a {
  color: inherit;
}

h1 {
  color: #2196f3;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 12px;
  margin-right: auto;
  font-weight: 700;
}

.profile-container {
  margin: 0 auto;
  width: 1160px;
  height: 400px;
  color: #FFFFFF;
  background-color: #2196f3;
  border-radius: 20px 20px 0 0;
  display: flex;
  font-weight: 700;
  padding: 40px;
}

.profile {
  margin-left: 10px;
}

.profile-image {
  width: 400px;
  height: 400px;
}

.name {
  font-size: 48px;
  margin: 20px 82.5px 0 82.5px;
  width: 585px;
}

.login {
  font-size: 20px;
  margin: 30px 82.5px 0 82.5px;
  display: block;
  width: 585px;
  text-align: center;
}

.contact-list {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.contact-list-item {
  list-style: none;
  margin: 30px 122.5px 0 92.5px;
}

.phone {
  text-decoration: none;
}

.telegram {
  text-decoration: none;
}

.profile-settings {
  width: 1180px;
  padding: 30px 30px 10px 30px;
  margin: 0 auto;
}

.settings-main-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  margin-bottom: 30px;
}

.settings-item {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.89px;
}

.settings-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings-list-item {
  margin-bottom: 30px;
}

.settings-text-input {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  background-color: #EEEEEE;
  width: 1120px;
  max-height: 29px;
  padding: 20px 30px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  resize: none;
}

.large-setting {
  min-height: 87px;
  max-height: none;
  resize: vertical;
}

.profile-settings-more {
  width: 1180px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}

.save-settings {
  margin: 0 auto;
  display: flex;
  padding: 13px 35.5px;
  border-radius: 100px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.save-settings:hover {
  background-color: #0661A9;
}

.save-settings:active {
  background-color: #11293D;
}