.subs_main {
  width: 1240px;
  margin: 0 auto;
}

.subs_search {
  background: #EEEEEE;
  border-radius: 20px;
  padding: 30px;
}

.subs_search_header {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  color: #2196F3;
}

.subs_search_input {
  width: 1140px;
  height: 22px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  margin: 22px 0;
}

.find_subs {
  padding: 15px 37.5px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}

.find_subs:hover {
  background-color: #0661A9;
  color: #FFFFFF;
}

.find_subs:active {
  background-color: #11293D;
  color: #FFFFFF;
}