.add_achiv {
  color: #2196F3;
  background-color: #EEEEEE;
  width: 1140px;
  min-height: 750px;
  padding: 50px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.achiv_header_text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  color: #2196F3;
  margin-bottom: 5px;
}

.achiv_input_people {
  display: flex;
}

.achiv_input_people .achiv_input {
  margin-right: 20px;
}

.achiv_input_choose {
  display: flex;
  width: 1140px;
  height: 42px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 13px 20px 13px 20px;
  border: 0;
  outline: 0;
  background: #FFFFFF url('./../../img/more.png') no-repeat right center;
  background-position: 1100px 16px;
  appearance: none;
  font-size: 16px;
}

.more_achiv_button {
  margin: 16px 20px 16px auto;
  width: 20px;
  height: 10px;
}

.achiv_input {
  resize: vertical;
  width: 1100px;
  min-height: 16px;
  padding: 13px 20px 13px 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-bottom: 20px;
}

.achiv_input_short {
  height: 16px;
}

.achiv_description {
  min-height: 58px;
}

.achiv_full_description {
  min-height: 134px;
}

.check {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.info {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.centered_buttons {
  display: flex;
  margin-top: 19px;
}

.button_sized {
  height: 44px;
}

.button_corrected {
  margin-left: 10px;
  margin-right: auto;
  display: flex;
}

.add_photo {
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.add_photo_file {
  border-radius: 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: -10px;
  width: 204px;
  height: 44px;
  z-index: 1;
  opacity: 0;
}

.confirm {
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.publish {
  display: block;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

.add_photo:hover,
.publish:hover,
.confirm:hover {
  background-color: #0661A9;
  color: #FFFFFF;
}

.add_photo:active,
.publish:active,
.confirm:active {
  background-color: #11293D;
  color: #FFFFFF;
}